body {
  background: url("https://img.freepik.com/photos-gratuite/mur-beton-gris-clair_53876-89532.jpg?w=996&t=st=1687768372~exp=1687768972~hmac=4ec61aa8113d58a98ad0bb29e6449c492ad4382bee4d9b76435213a537fe6ab9") no-repeat fixed center;
  background-size: cover;
}

nav {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin: 0 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: blue;
}

.section-2 .sheet {
  min-height: 541px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

.section-2 .description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

.section-2 .img2 {
  border: 2px solid black;
  width: 50%;
  height: auto;
}

.h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: black;
  margin-top: 40px;
}

.footer {
  padding: 1%;
}

.footer-div {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.social-button {
  background-color: transparent;
  border: none;
  margin: 0 0.5rem;
  padding: 0;
}

.footer-link {
  text-decoration: none;
}

.icon {
  width: 30px;
  height: 30px;
}

.text-center {
  text-align: center;
  color: white;
  padding: 1px;
}

.section-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("6679203.jpg") no-repeat fixed center;
  background-position: center;
}

.section-3 .sheet {
  min-height: 800px;
  margin: 30px auto 60px;
  text-align: center;
  color: white;
  padding-top: 7%;
  font-size: 50px;
}

.section-3 .heading {
  margin: 60px auto 0;
  padding-top: 15%;
  color: wheat;
}

.section-3 .button {
  margin: 20px auto 60px;
  height: 35px;
  margin-top: 20px;
  color: white;
  font-size: 25px;
}
#shbtn{
background-color: wheat;
}
#shbtn a{
color: black;
}

